
.baseColor{
    position: relative;
    top: 200px;
    body {
        font-family: Arial, sans-serif;
        text-align: center;
    }
    .color-box {
        width: 120px;
        height: 120px;
        display: inline-block;
        margin: 10px;
        border-radius: 10px;
        border: 1px solid #ddd;
        text-align: center;
        color: white;
        font-weight: bold;
        text-shadow: 1px 1px 2px black;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    button {
        padding: 10px 20px;
        font-size: 16px;
        margin-top: 10px;
        background-color: #4285F4;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    button:hover {
        background-color: #357ae8;
    }

    
}

.palette-display{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.simulation{
    display: flex;
    position: relative;
    justify-content: center;
    top: 600px;
}
.footer-content{
   h1{
    display: flex;
    position: relative;
    justify-content: flex-end;
   } 
}